@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Global */
:root {
    --grid-rows-size: 4;
    --grid-columns-size: 4;
    --tile-size: clamp(70px, 8vw, 100px);
    --tile-gap: clamp(5px, 1vw, 12px);
    --tile-font-size: clamp(30px, 2.5vw, 45px);
    --animation-time-css: 150ms;
    --tile-radius: 7px;
    --nav-size: 128px;
    --footer-size: 40px;
    --status-font-size: clamp(12px, 2vw, 16px);

    --black: #353535;
    --red: #ff4930;
    --white: whitesmoke;
    --shadow: #888;
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }

* {
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--white);
    font-family: 'Poppins', sans-serif;
    overscroll-behavior-y: contain;
}

svg {
    width: 24px;
    height: auto;
    fill: var(--white);
}

/* Main layout*/
.main-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - var(--footer-size));
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -1;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    height: 0;
    width: 100%;
    height: var(--footer-size);
    display: flex;
    align-items: center;
    background-color: var(--black);
    font-size: clamp(11px, 2vw, 13px);
}

footer span {
    margin-left: 1rem;
    color: dimgray; 
}

.links-container {
    display: flex;
    margin-left: auto;
    margin-right: 1rem;
}

.links-container svg {
    fill: dimgray;
    transition: fill .2s ease;
}
.links-container svg:hover {
    fill: var(--shadow);
}

.links-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    color: dimgray;
    margin-right: 1rem;
    transition: color .2s ease;
}
.links-container a:hover {
    color: var(--shadow);
}

/* Body */
.status-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
    width: clamp(17rem, 30% ,25rem);
}

.status {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: var(--black);
    min-width: 4.5rem;
    color: var(--white);
    padding: .2rem .2rem .2rem .2rem;
    text-align: center;
    box-shadow: 1px 1px 4px -2px var(--shadow);
}

.status span {
    font-size: 12px;
}

.status-data {
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
    font-size: var(--status-font-size) !important;
    /* border-radius: 0 0 5px 5px; */
}

.buttons-container {
    display: flex;
    align-items: center;
    width: calc(var(--grid-columns-size) * (var(--tile-size) + var(--tile-gap)));
    margin-top: 1.5rem;
}

.buttons-container button {
    padding: .7rem 1.2rem .7rem 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;
    background-color: var(--red);
    color: var(--white);
    border-radius: 7px;
    box-shadow: 1px 1px 3px var(--black);
    outline: none;
    max-height: 2.3rem;
    text-align: center;
}

.disabled {
    pointer-events: none;
    background-color: var(--shadow) !important;
    cursor: default;
}

#undo {
    margin-left: auto;
}

/* Game */
#board {
    position: relative;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows-size), var(--tile-size));
    grid-template-columns: repeat(var(--grid-columns-size), var(--tile-size));
    gap: var(--tile-gap);
    width: fit-content;
    padding: var(--tile-gap);
    border-radius: 10px;
    box-shadow: 0px 0px 10px -3px var(--shadow);
    background-color: rgb(235, 235, 235);
}

.cell {
    background-color: var(--white);
    box-shadow:inset 0px 0px 5px -2px var(--shadow);
    width: var(--tile-size);
    height: var(--tile-size);
    border-radius: var(--tile-radius);
}

.tile {
    position: absolute;
    width: var(--tile-size);
    height: var(--tile-size);
    border-radius: 8px;
    box-shadow: 0px 1px 5px -2px var(--shadow);
    border-radius: var(--tile-radius);
    font-family: "Nanum Gothic Coding", monospace;
    font-size: var(--tile-font-size);
    font-weight: normal;
    text-align: center;
    line-height: var(--tile-size);
    transition: top var(--animation-time-css) ease, left var(--animation-time-css) ease;
    animation: pop var(--animation-time-css) ease-out;
    z-index: 2;
}
.tile.no-transition {
    transition: none !important;
}
.tile.no-animation {
    animation: none !important;
}

@keyframes pop {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  50% {
    transform: scale(1.02);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.c2 {
    background-color: #ffffff !important;
    color: black;
}

.c4 {
    background-color: #ebebeb !important;
    color: black;
}

.c8 {
    background-color: #c7c7c7 !important;
    color: black;
}

.c16 {
    background-color: #ffd4cd !important;
    color: black;
}

.c32 {
    background-color: #ff9e8f !important;
    color: white;
}

.c64 {
    background-color: #ff7a65 !important;
    color: white;
}

.c128 {
    background-color: #ff6347 !important;
    color: white;
}

.c256 {
    background-color: #ff4930 !important;
    color: white;
}

.c512 {
    background-color: #e83b24 !important;
    color: white;
}

.c1024 {
    background-color: #c93520 !important;
    color: white;
}

.c2048 {
    background-color: #a62e1b !important;
    color: white;
}

.c4096 {
    background-color: #703428 !important;
    color: white;
}

.c8192 {
    background-color: #403030 !important;
    color: white;
}

.c16384 {
    background-color: #2f2f2f !important;
    color: white;
}

.c32768 {
    background-color: #252525 !important;
    color: white;
}