@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Global */
:root {
    --animation-time-css: 150ms;
    --black: #353535;
    --footer-size: 40px;
    --grid-columns-size: 4;
    --grid-rows-size: 4;
    --nav-size: 128px;
    --red: #ff4930;
    --shadow: #888;
    --status-font-size: clamp(12px, 2vw, 16px);
    --tile-font-size: clamp(30px, 2.5vw, 45px);
    --tile-gap: clamp(5px, 1vw, 12px);
    --tile-radius: 7px;
    --tile-size: clamp(70px, 8vw, 100px);
    --white: whitesmoke;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

* {
    user-select: none;
}

body {
    background-color: var(--white);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    overscroll-behavior-y: contain;
    padding: 0;
}

svg {
    fill: var(--white);
    height: auto;
    width: 24px;
}

/* Main layout*/
.main-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    height: calc(100% - var(--footer-size));
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.ng-overlay {
    -webkit-backdrop-filter: blur(2px);
    align-items: center;
    backdrop-filter: blur(2px);
    background-color: rgba(245, 245, 245, 0.85);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.ng-overlay.hidden {
    display: none;
}

.ng-modal {
    align-items: center;
    background-color: var(--white);
    border: 1px solid var(--red) !important;
    border-radius: 10px;
    box-shadow: 1px 1px 5px -2px var(--shadow);
    display: flex;
    flex-direction: column;
    height: auto;
    padding-block: 1rem;
    width: calc(var(--grid-columns-size) * (var(--tile-size) + var(--tile-gap)));
}

.ng-modal h2 {
    color: var(--red);
    margin-bottom: 1.5rem;
}

.ng-modal button {
    background-color: var(--red);
    border: 0;
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
    font-size: 16px;
    height: 2rem;
    margin-top: 1.5rem;
    width: 60%;
}

#modal-cancel {
    background-color: var(--white) !important;
    border: 1px solid var(--red) !important;
    color: var(--red) !important;
    margin-block: .5rem !important;
}

/* Footer */
footer {
    align-items: center;
    background-color: var(--black);
    bottom: 0;
    display: flex;
    font-size: clamp(11px, 2vw, 13px);
    height: 0;
    height: var(--footer-size);
    position: fixed;
    width: 100%;
}

footer span {
    color: dimgray;
    margin-left: 1rem;
}

.links-container {
    display: flex;
    margin-left: auto;
    margin-right: 1rem;
}

.links-container svg {
    fill: dimgray;
    transition: fill .2s ease;
}

.links-container svg:hover {
    fill: var(--shadow);
}

.links-container a {
    align-items: center;
    color: dimgray;
    display: flex;
    justify-content: center;
    margin-right: 1rem;
    text-align: center;
    text-decoration: none;
    transition: color .2s ease;
}

.links-container a:hover {
    color: var(--shadow);
}

/* Body */
.status-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
    width: clamp(17rem, 30% ,25rem);
}

.status {
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 1px 1px 4px -2px var(--shadow);
    color: var(--white);
    display: flex;
    flex-direction: column;
    min-width: 4.5rem;
    padding: .2rem .2rem .2rem .2rem;
    text-align: center;
}

.status span {
    font-size: 12px;
}

.status-data {
    border-radius: 5px;
    display: inline-block;
    font-size: var(--status-font-size) !important;
    font-weight: bold;
    /* border-radius: 0 0 5px 5px; */
    width: 100%;
}

.buttons-container {
    align-items: center;
    display: flex;
    margin-top: 1.5rem;
    width: calc(var(--grid-columns-size) * (var(--tile-size) + var(--tile-gap)));
}

.buttons-container button {
    align-items: center;
    background-color: var(--red);
    border: 0;
    border-radius: 7px;
    box-shadow: 1px 1px 3px var(--black);
    color: var(--white);
    cursor: pointer;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    justify-content: center;
    max-height: 2.3rem;
    outline: none;
    padding: .7rem 1.2rem .7rem 1.2rem;
    text-align: center;
}

.disabled {
    background-color: var(--shadow) !important;
    cursor: default;
    pointer-events: none;
}

#undo {
    margin-left: auto;
}

/* Game */
#board {
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    box-shadow: 0px 0px 10px -3px var(--shadow);
    display: grid;
    gap: var(--tile-gap);
    grid-template-columns: repeat(var(--grid-columns-size), var(--tile-size));
    grid-template-rows: repeat(var(--grid-rows-size), var(--tile-size));
    padding: var(--tile-gap);
    position: relative;
    width: fit-content;
}

.game-over {
    box-shadow: 0px 0px 15px -1px var(--red) !important;
}

.cell {
    background-color: var(--white);
    border-radius: var(--tile-radius);
    box-shadow: inset 0px 0px 5px -2px var(--shadow);
    height: var(--tile-size);
    width: var(--tile-size);
}

.tile {
    animation: pop var(--animation-time-css) ease-out;
    border-radius: 8px;
    border-radius: var(--tile-radius);
    box-shadow: 0px 1px 5px -2px var(--shadow);
    font-family: "Nanum Gothic Coding", monospace;
    font-size: var(--tile-font-size);
    font-weight: normal;
    height: var(--tile-size);
    line-height: var(--tile-size);
    position: absolute;
    text-align: center;
    transition: top var(--animation-time-css) ease, left var(--animation-time-css) ease;
    width: var(--tile-size);
    z-index: 2;
}
.tile.no-transition {
    transition: none !important;
}
.tile.no-animation {
    animation: none !important;
}

@keyframes pop {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  50% {
    transform: scale(1.02);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.c2 {
    background-color: #ffffff !important;
    color: black;
}

.c4 {
    background-color: #ebebeb !important;
    color: black;
}

.c8 {
    background-color: #c7c7c7 !important;
    color: black;
}

.c16 {
    background-color: #ffd4cd !important;
    color: black;
}

.c32 {
    background-color: #ff9e8f !important;
    color: white;
}

.c64 {
    background-color: #ff7a65 !important;
    color: white;
}

.c128 {
    background-color: #ff6347 !important;
    color: white;
}

.c256 {
    background-color: #ff4930 !important;
    color: white;
}

.c512 {
    background-color: #e83b24 !important;
    color: white;
}

.c1024 {
    background-color: #c93520 !important;
    color: white;
}

.c2048 {
    background-color: #a62e1b !important;
    color: white;
}

.c4096 {
    background-color: #703428 !important;
    color: white;
}

.c8192 {
    background-color: #403030 !important;
    color: white;
}

.c16384 {
    background-color: #2f2f2f !important;
    color: white;
}

.c32768 {
    background-color: #252525 !important;
    color: white;
}